#framone{
	margin-bottom: 20px;
	
}
#header_one{
	padding: 0px;
}
#nav1{
	background-color: #41848F;
	
}
#nav2{
	background-color: #72A7A3;
	padding: 30px;
}
#carousel_ads{
	padding: 0px;
}
#carousel_ads2{
	padding-right: 0px;
}
#carousel_ads3{
	padding: 0px;
}
#carousel_ads4{
	padding: 0px;
}
#img_item{
	margin-top: 20px;
}
#classification {
	margin-top: 20px;
	margin-bottom:60px;
}
#footer{

	background-color: #41848F;
	height: 3px;
	margin-bottom: 20px;    		
}
#ShoppingGo{
	font-size: 15px;
	color: #FFFFFF;
}


a:link {color:#000;text-decoration: none;} /* 未訪問鏈接*/ 
a:visited {color:#000;text-decoration: none;} /* 已訪問鏈接*/ 
a:hover {color:#000;text-decoration: none;} /* 鼠標移動到鏈接上*/ 
a:active {color:#000;text-decoration: none;} /* 鼠標點擊時*/